<a href="https://colab.research.google.com/github/vishwas0297/pyhton/blob/main/lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
T = [1,2,3]
LT = iter(T)
LT

In [20]:
L = [1,2,3]
iterator = iter(L)
t = tuple(iterator)
type(t)

tuple

In [23]:
m = {'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}
for key in m:
  print(key,m[key])

jan 1
feb 2
mar 3
apr 4
may 5
jun 6
jul 7
aug 8
sep 9
oct 10
nov 11
dec 12

In [27]:
l=[1,2,3]
for i in l:
  x=2*i
  print(x)

2
4
6

In [29]:
L = [('Italy','Rome'),
     ('France','Paris'),('US','Washington DC')]
dict(iter(L))

{'Italy': 'Rome', 'France': 'Paris', 'US': 'Washington DC'}

In [34]:
line_list = ['Presidency University\n','Computer Science Department\n','Dept of CSE\n',' \n']

stripped_list = [line.strip() for line in line_list if line !=" "]
print(stripped_list)

['Presidency University', 'Computer Science Department', 'Dept of CSE', '']